

.maindiv{
    width: 100%;

}
.footer{
    width: 100%;
    height: 300;
    background-color: blue;
}


.maindiv{
    display: grid ;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;

    
    width: 100%;
    height: 350px;
}
.section{
    background-color: black;
}
.Foot{
    font-size: 22px;
    font-weight: bold;
}
.Foot1 div{
   margin: 15px;
   color: white;
   padding-top: 8px;
}
.Foot2{
    margin-top: 20px;
}
.Foot1 a{
    text-decoration: none;
    color: white;
}
.Foot1 a:hover{
    color: blue;
    transition: 0.5;
}

#tokri{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* padding-left: 2px; */
    color: white;
    font-size: 10px;
    /* position: absolute; */
    /* margin-left: 25px; */
}
 
#cartdata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}